[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Carpeta Personal
Icon=user-home
Comment=Abre la carpeta personal del usuario.
Exec=nautilus --new-window
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Core;
StartupNotify=False
