[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Papelera
Icon=user-trash
Comment=Abre la papelera.
Exec=nautilus trash://
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Core;
StartupNotify=False
