Source: canaima-escritorio-gnome
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: José Miguel Parrella Romero <jparrella@onuva.com>, Carlos David Marrero <cdmarrero2040@gmail.com>, Orlando Andrés Fiol Carballo <ofiol@indesoft.org.ve>, Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero <franjvasquezg@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-escritorio-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-escritorio-gnome/trees/master

Package: canaima-escritorio-gnome
Architecture: all
Depends: gnome-core, canaima-web, canaima-multimedia, canaima-ofimatica, laptop-detect, readahead, preload, prelink, locales, base-files (>=5.10+1canaima4), xserver-xorg, alsa-base, alsa-utils, xinit, gdm3, cups, canaima-chat (>=3.0), canaima-bienvenido (>=3.0), canaima-acerca (>=3.0), canaima-estilo-visual (>=3.0), canaima-llaves (>=3.0), canaima-notas, amigu (>=0.6.3+4canaima4), ${shlibs:Depends}, ${misc:Depends}
Conflicts: gdm
Pre-Depends: xdg-user-dirs
Description: Archivos base de Canaima GNU/Linux
 Este paquete provee los archivos base de Canaima GNU/Linux.
