Source: canaima-escritorio-gnome
Section: gnome
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-escritorio-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-escritorio-gnome/trees/master

Package: canaima-escritorio-gnome
Architecture: all
Depends:	canaima-estilo-visual-gnome (>= 3.1),
		canaima-acerca-gnome (>= 3.1),
		canaima-chat-gnome (>= 3.1),
		canaima-bienvenido-gnome (>= 3.1),
		canaima-notas-gnome (>= 3.1),
		gnome-applets (>= 2.30),
		gnome-control-center (>= 1:2.30),
		gnome-disk-utility (>= 2.30),
		gnome-keyring (>= 2.30),
		gnome-menus (>= 2.30),
		gnome-screenshot (>= 2.30),
		gnome-search-tool (>= 2.30),
		gnome-panel (>= 2.30),
		gnome-power-manager (>= 2.30),
		gnome-screensaver (>= 2.30),
		gnome-session (>= 2.30),
		gnome-settings-daemon (>= 2.30),
		gnome-terminal (>= 2.30),
		gnome-user-guide (>= 2.30),
		gnome-media (>= 2.30),
		gnome-system-monitor,
		gnome-codec-install,
		centro-software-canaimero,
		system-config-printer,
		file-roller (>= 2.30),
		yelp (>= 2.30),
		gparted,
		baobab,
		gcalctool,
		nautilus (>= 2.30),
		metacity (>= 1:2.30),
		gedit (>= 2.30),
		evince (>= 2.30),
		alacarte,
		ailurus,
		seahorse,
		rar,
		unrar-free,
		unace,
		lzma,
		lzop,
		unzip,
		zip,
		menu,
		gtk2-engines (>= 1:2.20),
		gvfs (>= 1.6),
		gvfs-backends (>= 1.6),
		policykit-1-gnome,
		gdebi,
		network-manager-gnome,
		modemmanager,
		usb-modeswitch,
		mobile-broadband-provider-info,
		ppp,
		update-manager-gnome,
		update-notifier,
		ntfs-3g,
		hdparm,
		gvfs-bin,
		libgnomevfs2-bin,
		xnest,
		cups-bsd,
		cups-driver-gutenprint,
		libfile-copy-recursive-perl,
		libgutenprint2,
		foomatic-db-engine,
		foomatic-db,
		update-inetd,
		apt-xapian-index,
		nautilus-share,
		synaptic,
		gksu,
		${shlibs:Depends},
		${misc:Depends}
Recommends:	amigu (>= 0.6.3+4canaima4),
		canaima-ofimatica-gnome (>= 3.1),
		canaima-web-gnome (>= 3.1),
		canaima-multimedia-gnome (>= 3.1),
Pre-Depends: canaima-escritorio-base (>= 3.1), prelink, preload, readahead, localepurge, xdg-user-dirs-gtk, xdg-user-dirs, xdg-utils
Description: Metapaquete que agrupa los componentes del escritorio gnome para Canaima
 Este paquete provee los archivos basicos para el funcionamiento
 de un sistema GNOME de Canaima GNU/Linux.
